* {
    margin: 0px;
    padding: 0px;

}

.container {
    display: flexbox;
    min-height: 150px;
    padding: 1px;
    margin: 0 auto;

}

.corpo {
    background-image: url(../img/fundo\ cinza.jpg);
    background-size: auto;
    background-repeat: no-repeat;

}

.menu {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#menu-horizontal li {

    display: inline-block;
    color: aliceblue;
    list-style-type: none;
    font-size: 23px;
}

#menu-horizontal li a {

    margin: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 18px;
}

#menu-horizontal li a:hover {

    background-color: rgba(255, 25, 0, 0.642);
    border-radius: 40px;
    transition: background .4s;
    cursor: pointer;
}

#home{
    font-size: 32px;
}

.principal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.formulario{
    background-color:#ffffff;
    margin-top: 94px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px black(0, 0,0,1);
    width: 350px; 
    
}
#envelope{
    width: 50px;
    height: 40px;
    margin-left: 150px;
  
}
form h3{
    text-align: center;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 40px;
    
}

input[type="text"]{
    
    width: 85%;
    padding: 15px;
    margin: 10px;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 5px;
    font-size: 18px;
    
}

input[type="submit"]{
    margin-top: 25px;
    margin-left: 10px;
    width: 95%;
    padding: 15px;
    background-color:#000000;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    font-size: 20px;
}