* {
    margin: 0px;
    padding: 0px;

}

.container {
    display: flexbox;
    min-height: 150px;
    padding: 1px;

}

.corpo {
    background-image: url(/img/fundo\ cinza.jpg);
    background-size: auto;
    background-repeat: no-repeat;

}

.menu {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}



#menu-horizontal li {

    display: inline-block;
    color: aliceblue;
    list-style-type: none;
    font-size: 23px;
}

#menu-horizontal li a {

    margin: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 18px;
}

#menu-horizontal li a:hover {

    background-color: rgba(255, 25, 0, 0.642);
    border-radius: 40px;
    transition: background .4s;
    cursor: pointer;
}

.box-destaque {
    justify-items: center;
    padding: 1px;

}

#h1-box-principal {

    color: #c20909;
    margin-top: 140px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#img-destaque {
    display: block;
    margin: auto;
    width: 500px;
    height: 100%;
    border-top: 10px;
    box-shadow: 5px 5px 26px #860303;
    border-radius: 200px;

}

.configimg {
    margin: auto;
    width: 400px;
    height: 300px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    box-shadow: #000000;
    color: white;

}

.container2 {
    min-height: 60px;
    justify-items: center;
    background-image: linear-gradient(rgb(0, 0, 0), rgb(57, 8, 8));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box {

    margin: 25px;
    display: inline-block;
    padding: 15px;
    border-radius: 10px;
    background-color: rgb(149, 0, 0);
    overflow: auto;
    white-space: nowrap;
}

h3 {

    margin-bottom: 10px;
    color: #ffffff;
    border-left: 5px solid;
    padding-left: 7px;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
}

p {
    text-align: center;
    color: rgb(255, 255, 255);
}

.box p {
    margin-bottom: 10px;
    font-size: 12px;

}

.destaqueCor {
    background-color: #000000;
    font-weight: 900;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

.botao {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    text-transform: initial;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    padding: 15px;
    transition: .4s;
}

.botao:hover {
    background-color: #5b0000;
    color: #ffffff;
    padding: 15px;
}

#img1 {
    background-image: url(/img/Porsche\ 718.jpg);
}

#img2 {
    background-image: url(/img/Porsche\ 911.jpg);
}

#img3 {
    background-image: url(/img/Ferrari\ 488.jpg);
}

#img4 {
    background-image: url(/img/Aston\ Martin\ DBS.jpg);
}

#img5 {
    background-image: url(/img/Lamborghini\ Aventador.jpg);
}

#img6 {
    background-image: url(/img/Chevrole\ Corvette.jpg);
}

footer {
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

}
#home{
    font-size: 32px;
}
