
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    background-image: url(../img/fundo\ cinza.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    height: 100%;
}

.container h3 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    text-align: center;
}

.escolhaPerfil {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


input[type="button"] {
    padding: 15px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 2px solid gray;
    border-radius: 10px;
    background-color: #000000;
    color: rgb(240, 234, 234);
    cursor: pointer;
    width: 250px;
}
