* {
    margin: 0px;
    padding: 0px;

}

.container {
    display: flexbox;
    min-height: 150px;
    padding: 1px;

}

.corpo {
    background-image: url(/img/fundo\ cinza.jpg);
    background-size: auto;
    background-repeat: no-repeat;

}

.menu {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#menu-horizontal li {

    display: inline-block;
    color: aliceblue;
    list-style-type: none;
    font-size: 23px;
}

#menu-horizontal li a {

    margin: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 18px;
}

#menu-horizontal li a:hover {

    background-color: rgba(255, 25, 0, 0.642);
    border-radius: 40px;
    transition: background .4s;
    cursor: pointer;
}

img {
    float: left; 
    width: 400px;
    border-radius: 1000px; 
    height: 100%; 
    margin-right: 140px; 
    margin-left: 30px;
}


h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 1px;
    margin-top: 100px;
    color: aliceblue;
}

strong{
    color: rgb(222, 10, 10);
    font-size: 28px;
}
#home{
    font-size: 32px;
}

